header {
  div.wrapper {
    border-bottom: 1px solid $main-color;
    background-color: #3a3e64;
    padding: 10px 0;
  }
  position: fixed;
  z-index: 16;
  width: 100%;
  .transparent {
    background-color: transparent;
    border: none;
  }
  .nav {
    border: 1px solid $main-color;
    border-radius: 5px;
    padding: 5px 10px;
    color: $main-color;
    font-size: 1.3rem;
  }
  #navbar-main {
    width: 80%;
    padding-right: 0;
  }
  ul.bar {
    align-items: center;
    width: 100%;
  }
  .border {
    outline: none;
    padding: 0;
    right: 0;
  }
  a:link, a:visited{
    color: $main-color;
    opacity: 0.8;
  }
  a:hover {
    opacity: 1;
  }
  a.logo:link, a.logo:visited, a.logo:hover {
    opacity: 1;
  }
}